html 
    head 
        title="Formulario desde Pug"
        meta(charset="uft-8")/
    body 
    h1 Tabla de productos desde Pug
    ul(style={display:"flex", background:"red"})  
        li(style={padding:"6%"}) Titulo
        li(style={padding:"6%"}) Precio 
        li(style={padding:"6%"}) Imagen       
        
           
           